{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styling -->
  <link rel="stylesheet" href="{% static 'story_8/main.css' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

  <title>Story 8</title>
</head>
<body>
  <main>
    <div class="jumbotron">
      <h1>Cool Books</h1>
      <form id="search-box">
        <input type="text" name="keyword" placeholder="Search for cool books...">
        <button type="submit" id="search-btn">
          <img src="{% static 'story_8/images/search-icon.svg' %}" alt="">
        </button>
      </form>
    </div>
    <h2 id="search-result-count"></h2>
    <table class="search-results"></table>
  </main>
</body>
<!-- JS Scripts -->
<script defer src="{% static 'story_8/main.js' %}"></script>
</html>