html, body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Josefin Sans;
}

main .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #9fddff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fddff), to(#6894ff));
  background: linear-gradient(180deg, #9fddff 0%, #6894ff 100%);
  width: 100%;
  height: 20em;
}

main .jumbotron h1 {
  font-size: 2em;
  font-weight: bold;
}

main .jumbotron #search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40em;
  height: 3em;
}

main .jumbotron #search-box input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5em;
  padding-left: .5em;
}

main .jumbotron #search-box #search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  background: #dbdbdb;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#bfbfbf));
  background: linear-gradient(180deg, #dbdbdb 0%, #bfbfbf 100%);
  height: 100%;
  width: auto;
  padding: 0 1em;
  cursor: pointer;
}

main .jumbotron #search-box #search-btn:hover {
  background: #d2d2d2;
}

main .jumbotron #search-box #search-btn img {
  width: 2em;
}

main .search-results {
  border-collapse: collapse;
  table-layout: fixed;
  width: 50em;
}

main .search-results, main .search-results tr, main .search-results td, main .search-results th {
  border: 1px solid black;
}

main .search-results .img-col {
  width: 8em;
}

main .search-results .img-col img {
  width: 100%;
  height: auto;
}

main .search-results .title-col {
  width: 20em;
}

main .search-results .authors-col {
  width: 10em;
}

main .search-results th, main .search-results h1 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  word-break: break-all;
}

@media (max-width: 900px) {
  main .search-results {
    width: 30em;
  }
}

@media (max-width: 700px) {
  main .jumbotron #search-box {
    height: 2em;
    width: 90vw;
  }
  main .jumbotron #search-box input {
    font-size: 1em;
  }
  main .jumbotron #search-box #search-btn img {
    width: 1em;
  }
  main .search-results {
    font-size: .8em;
  }
}

@media (max-width: 500px) {
  main .search-results {
    font-size: .7em;
  }
  main .search-results .title-col {
    width: 10em;
  }
}

@media (max-width: 320px) {
  main .search-results {
    font-size: .6em;
  }
}
/*# sourceMappingURL=main.css.map */