html, body {
  margin: 0;
  padding: 0;
}

main {
  & * {
    box-sizing: border-box;
    font-family: Josefin Sans;
  }

  width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(159,221,255);
    background: linear-gradient(180deg, rgba(159,221,255,1) 0%, rgba(104,148,255,1) 100%);

    width: 100%;
    height: 20em;

    h1 {
      font-size: 2em;
      font-weight: bold;
    }

    #search-box {
      display: flex;

      width: 40em;
      height: 3em;

      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.5em;
        padding-left: .5em;
      }

      #search-btn {
        &:hover {
          background: rgb(210, 210, 210);
        }

        display: flex;
        align-items: center;
        justify-content: center;

        outline: none;
        border: none;
        background: rgb(219,219,219);
        background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(191,191,191,1) 100%);


        height: 100%;
        width: auto;

        padding: 0 1em;

        cursor: pointer;

        img {
          width: 2em;
        }
      }
    }
  }

  .search-results {
    &, tr, td, th {
      border: 1px solid black;
    }

    border-collapse: collapse;
    table-layout: fixed;
    width: 50em;

    .img-col {
      width: 8em;

      img {
        width: 100%;
        height: auto;
      }
    }

    .title-col {
      width: 20em;
    }

    .authors-col {
      width: 10em;
    }

    th, h1 {
      font-size: 1em;
      font-weight: normal;
      text-align: center;
      word-break: break-all;
    }
  }

  @media(max-width: 900px) {
    .search-results {
      width: 30em;
    }
  }

  @media(max-width: 700px) {
    .jumbotron {
      #search-box {
        height: 2em;
        width: 90vw;

        input {
          font-size: 1em;
        }

        #search-btn {
          img {
            width: 1em;
          }
        }
      }
    }

    .search-results {
      font-size: .8em;
    }
  }

  @media(max-width: 500px) {
    .search-results {
      font-size: .7em;

      .title-col {
        width: 10em;
      }
    }
  }

  @media(max-width: 320px) {
    .search-results {
      font-size: .6em;
    }
  }
}