html, body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Josefin Sans;
}

main .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #9fddff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fddff), to(#6894ff));
  background: linear-gradient(180deg, #9fddff 0%, #6894ff 100%);
  width: 100%;
  height: 20em;
}

main .jumbotron h1 {
  font-size: 2em;
  font-weight: bold;
}

main .jumbotron .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40em;
  height: 3em;
}

main .jumbotron .search-box input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5em;
  padding-left: .5em;
}

main .jumbotron .search-box .search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #dbdbdb;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#bfbfbf));
  background: linear-gradient(180deg, #dbdbdb 0%, #bfbfbf 100%);
  height: 100%;
  width: auto;
  padding: 0 1em;
  cursor: pointer;
}

main .jumbotron .search-box .search-btn:hover {
  background: #d2d2d2;
}

main .jumbotron .search-box .search-btn img {
  width: 2em;
}

@media (max-width: 700px) {
  main .jumbotron .search-box {
    height: 2em;
    width: 90vw;
  }
  main .jumbotron .search-box input {
    font-size: 1em;
  }
  main .jumbotron .search-box .search-btn img {
    width: 1em;
  }
}
/*# sourceMappingURL=main.css.map */