html, body {
  margin: 0;
  padding: 0;
}

main {
  & * {
    box-sizing: border-box;
    font-family: Josefin Sans;
  }

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(159,221,255);
    background: linear-gradient(180deg, rgba(159,221,255,1) 0%, rgba(104,148,255,1) 100%);

    width: 100%;
    height: 20em;

    h1 {
      font-size: 2em;
      font-weight: bold;
    }

    .search-box {
      display: flex;

      width: 40em;
      height: 3em;

      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.5em;
        padding-left: .5em;
      }

      .search-btn {
        &:hover {
          background: rgb(210, 210, 210);
        }

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgb(219,219,219);
        background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(191,191,191,1) 100%);


        height: 100%;
        width: auto;

        padding: 0 1em;

        cursor: pointer;

        img {
          width: 2em;
        }
      }
    }
  }

  @media(max-width: 700px) {
    .jumbotron {
      .search-box {
        height: 2em;
        width: 90vw;

        input {
          font-size: 1em;
        }

        .search-btn {
          img {
            width: 1em;
          }
        }
      }
    }
  }
}